.about-two-column {
    display: grid;
    grid-template-rows: 1fr 1fr;
    max-width: 200rem;
    gap: 0 10rem;
    @media (min-width: 768px) {
        grid-template-rows: auto;
        grid-template-columns: 1fr 1fr;
        margin: auto;
    }
}

.text-content-container {
    margin-top: 10rem;
}
.stats-row {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr 1fr;
    place-items: center;
    margin: 2rem 0 6rem 0;
}
.stats-row p {
    font-weight: 600;
}
.flag-icon {
    width: 5rem;
    justify-self: flex-start;
}
