.font-light-tertiary {
    color: #5c3200;
}

.font-light-primary {
    color: #000;
}

.font-light-background {
    color: #fff;
}

.font-dark-primary {
    color: #fff;
}

.font-dark-secondary {
    color: #d1d1d1;
}
.font-dark-tertiary {
    color: #8b7152;
}

.font-dark-quartenary {
    color: #7b7b7b;
}

.font-dark-background {
    color: #070707;
}
