* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 45%;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}
p,
ul {
    line-height: 4rem;
    font-size: 16px;
}

h1 {
    font-size: 40rem;
}

h2 {
    font-size: 6.4rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 3.6rem;
}

body {
    font-family: "Outfit", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
}

.global-margin {
    @media (max-width: 768px) {
        padding: 0 2.5rem 0 2.5rem;
    }
}
