* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 7px / 16pxp = 43.75%  */
  font-size: 43.75%;
}

/* 8px / 16pxp = 50%  */
@media (min-width: 59em) {
  html {
    font-size: 50%;
  }
}

/* 1200px = 75em (1200px / 16px = 75em) */
/*@media (min-width: 75em) { */
/*  html { */
/*    /* Set 1 rem equal to 62.5% of the default font size 16px  */
/*    If user explicitly sets default font size, all text will scale accordingly */
/*    10px / 16px = 62.5% -> 1rem = 10px */

/*    font-size: 62.5%; */
/*  } */
/*} */

h1,
h2,
h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 40rem;
}

h2 {
  font-size: 12.8rem;
}

h3 {
  font-size: 6.4rem;
}

h4 {
  font-size: 3.6rem;
}

p {
  font-size: 2rem;
}

body {
  font-family: "Outfit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 2rem;
}
